{% extends "base.html" %}

{% block content %}
<main>
  <h1>Order your delicious pizza now!</h1>
  <p class="fs-5 col-md-8">
    Dine in a Futuristic World of Cyber Pizza Where Innovation and Flavor Collide
  </p>

  <div class="mb-5">
    <a href="{% url 'menu' %}" class="btn btn-primary btn-lg px-4">Check our menu!</a>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row g-5">
    <div class="col-md-6">
      <h2>Best ingredients</h2>
      <p>Wee use only the best ingredients from our trusted suppliers.</p>
      <p>At our pizzeria, we use only the most advanced and cutting-edge cooking techniques to create truly unique and unforgettable pizza experiences.
         Our dough is made using synthetic yeast and fortified with nanomachines for enhanced flavor and texture. 
         Our sauce is created using genetically-modified tomatoes, infused with cybernetic enhancements for maximum taste and nutrition. 
         We top our pizzas with a generous amount of synthetic mozzarella, as well as a selection of the finest lab-grown meats and vegetables available.
         Come visit us in the heart of the cyberpunk city and taste the future of pizza!.</p>
      <ul class="icon-list ps-0">
        <li class="d-flex align-items-start mb-1"><a href="#" rel="noopener" target="_blank">Mozzarella</a></li>
        <li class="text-muted d-flex align-items-start mb-1">Salami</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Fast delivery</h2>
      <p>Your order will be within 30 minutes after you place an order. If no, you will get full refund!</p>
      <p>We know that in the fast-paced world of the future,
         you don't always have time to sit down and enjoy a meal.
         That's why we offer fast and efficient delivery service,
         using the latest in drone technology to get your pizza to you hot and fresh.
         Our delivery drones are equipped with advanced AI systems,
         allowing them to navigate even the busiest cityscapes with ease.
         Plus, with our high-tech thermal insulation, 
         your pizza will stay perfectly warm and delicious from our kitchen to your doorstep.
         So whether you're in the mood for a quick lunch at your office or a relaxing dinner at home, we've got you covered.
         Order now and experience the future of pizza delivery!.</p>
      <ul class="icon-list ps-0">
        <li class="d-flex align-items-start mb-1"><a href="#">A1</a></li>
        <li class="d-flex align-items-start mb-1"><a href="#">A2</a></li>
        <li class="d-flex align-items-start mb-1"><a href="#">A3</a></li>
        <li class="d-flex align-items-start mb-1"><a href="#">A4</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}