{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" name="email" id="email" aria-describedby="userHelp">
    <div id="userHelp" class="form-text">Type your email.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password">
    <div id="passHelp" class="form-text">Type your password.</div>
  </div>
  <div class="button">
    <button type="submit" class="btn btn-primary">Login</button>
    <span style="margin-left:5px;"><a href="#">forget password?</a></span>
  </div>
</form>
{% endblock %}