{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control"  name="username" id="username" aria-describedby="userHelp">
      <div id="userHelp" class="form-text">Type your username.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password">
      <div id="passHelp" class="form-text">Type your password.</div>
    </div>
    <div class="button">
    <button type="submit" class="btn btn-primary">Login</button>
    <span style="margin-left:5px;"><a href="#">forget password?</a></span>
    </div>
  </form>
{% endblock %}